/* Section Hero Image Workpage Detail */

* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

#hero-image {
    margin-top: 80px;
}

.hero-image {
    position: absolute;
    display: block;
}

/* End Section Hero Image Workpage Detail*/

/* Section Background and client */
#background-and-client {
    position: absolute;
    margin-top: 680px;
    padding-bottom: 120px;
}


.background-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #0A0A0A;
}


.background-subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.003em;
    color: #616161;
}


.title-on-sub-client {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #616161;
    letter-spacing: 0.0015em;
}


.sutitle-on-sub-client {
    margin-top: 4px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.003em;
    color: #0A0A0A;
}


.share {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.003em;
    color: #000000;
}

/* End Section Background and client */

/* Section The Process */
#the-process {
    margin-top: 1376px;
    background: #F5F5F5;
}

.container-the-process {
    padding-top: 48px;
}

.title-the-process {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
}

.title-process {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 16px;
}

.sub-process {
    margin-top: 40px;
}

.subtitle-process {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.003em;
    color: #616161;
    margin-bottom: 40px;
}
/* End Section The Process */

/* Section The Results */
#the-results {
    margin-top: 120px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
  }
/* End Section The Results */